P.DekhoBulletedList {LINE-HEIGHT: normal;  MARGIN: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

P.MsoListNumberCxSpFirst {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 18.0pt; }

P.StylePictureBorderSinglesolidlineGray-5015ptLin {LINE-HEIGHT: normal;  MARGIN: 4pt 0pt 4pt 14.2pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

P.DekhoNoteTextOrangeBold {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 0pt 45.35pt;  FONT-FAMILY: "Arial Bold","serif";  COLOR: #c75b12;  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }

P.Picture {LINE-HEIGHT: normal;  MARGIN: 4pt 0pt 4pt 14.2pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

P.MsoListNumberCxSpLast {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 18.0pt; }

P.StyleContentsPage-TitleAfter18ptBottomSinglesolid {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 18pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  LETTER-SPACING: 0.1pt;  COLOR: #bf5b12;  FONT-SIZE: 18pt;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt; }

P.Subheading {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 5pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }

P {LINE-HEIGHT: 14pt;  MARGIN: 5pt 0pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

SPAN.FootnoteCharacters {VERTICAL-ALIGN: super; }

P.MsoListNumberCxSpMiddle {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 18.0pt; }

P.TableHeader {LINE-HEIGHT: normal;  MARGIN: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

P.MsoListNumber {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 18.0pt; }

P.ESRIBullet1 {LINE-HEIGHT: normal;  TEXT-INDENT: -13.3pt;  MARGIN: 0pt 0pt 0pt 49.3pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 49.3pt; }

SPAN.D2HMarkerNumber {DISPLAY: none; }

