<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!--  Appender definitions -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<!-- Pattern to output the caller's file name and line number -->
			<param name="ConversionPattern" value="%x %d %-5p %c - %m%n"/>
		</layout>
	</appender>

	<appender name="EnterpriseRollingFile" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="${com.sun.aas.instanceRoot}/applogs/enterprise.log"/>
		<param name="MaxFileSize" value="1024KB"/>
		<param name="MaxBackupIndex" value="20"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%x | %d | %-5p | %c | %m %n"/>
		</layout>
	</appender>

	<!-- Logger definitions - BEGIN -->

	<logger name="com.kurtosys.hitrust.businessobject" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="EnterpriseRollingFile" />
	</logger>
	
	<logger name="com.kurtosys.iop.client" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="EnterpriseRollingFile" />
	</logger>	
	
	<logger name="org.apache" additivity="false">
		<level value="error" />
		<appender-ref ref="EnterpriseRollingFile" />
		<appender-ref ref="console" />
	</logger>

	<!--  root logger -->	
	<root>
		<priority value ="debug" />
		<appender-ref ref="console" />
	</root>
	
	<!-- Logger definitions - END -->

</log4j:configuration>